body {
  margin: 0px;
}

.entrance {
  height: 300px;
  width: 600px;

  background: linear-gradient(rgba(214, 227, 248, 0.5), transparent);
  background-color: rgba(37, 22, 5, 0.767);
}

.icon {
  position: absolute;
  left: 6px;
  top: 15px;

  display: inline-block;
  width: 280px;
  height: 30px;
}

.icon-text {
  position: absolute;

  left: 50px;
  top: 20px;
  width: 200px;
  height: 20px;
  white-space: pre-line;

  font-family: "Times New Roman";
  font-size: small;
  letter-spacing: 1px;

  color: rgb(254, 245, 239);
}

.out-most-wrapper {
  position: relative;

  margin: 10px;

  height: 280px;
  width: 580px;
}

.language-box {
  z-index: 2;
  position: fixed;
  left: 310px;
  top: 20px;

  height: 30px;
  width: 90px;

  text-align: right;
  font-size: small;
}

.input-textbox {
  position: absolute;

  bottom: 0;
  left: 0;

  height: 230px;
  width: 280px;

  background-color: rgb(255, 255, 255);
}

.input-textbox .inner {
  position: relative;
  top: 6px;
  left: 5px;

  height: 215px;
  width: 270px;

  overflow: scroll;
  overflow-x: hidden;
}

/* Width */
.input-textbox .inner::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.input-textbox .inner::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.input-textbox .inner::-webkit-scrollbar-thumb {
  border-radius: 1000000vw;
  background: rgb(143, 141, 141);
  border: 0.45vw solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
.input-textbox .inner::-webkit-scrollbar-thumb:hover {
  background: rgb(201, 231, 206);
}

.output-textbox {
  position: absolute;

  bottom: 0;
  right: 0;

  height: 230px;
  width: 280px;

  background-color: rgb(255, 255, 255);
  
  margin-bottom: 4%;
  padding: 3%;
  color:black;
  min-height: fit-content;
  font-size: medium;
  border-radius: 10px;
  word-wrap: normal;

}

.output-textbox .inner {
  position: relative;
  top: 6px;
  left: 5px;

  height: 215px;
  width: 270px;

  overflow: scroll;
  overflow-x: hidden;
}

.output-textbox .inner::-webkit-scrollbar {
  overflow: hidden;
  width: 0px;
}

/* Width */
.output-textbox .inner::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.output-textbox .inner::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.output-textbox .inner::-webkit-scrollbar-thumb {
  background: rgb(168, 167, 167);
}

/* Handle on hover */
.output-textbox .inner::-webkit-scrollbar-thumb:hover {
  background: rgb(113, 110, 110);
}
